@import '../css/bootstrap.min.css';

.div-log{
    height: 750px;
    margin-top:16%;
}
header{
    height: 80px;
    background: aliceblue;
    
}
header .btn-group{
    margin:20px 0;
}
.btn-group .dropdown-toggle{
    background: transparent;
    color:black;
    border: none;
    
}
.btn-group .dropdown-toggle:focus{
    box-shadow: none !important;
}
.a{
    height: 40px;
    margin:20px 0;
    display: inline-block;
    line-height: 2.189;
}
.cat{
    width: 600px;
    height: 40px;
    border-bottom: 1px solid black;
    line-height: 2;
    border-radius: 10px;
    padding: 0 20px;
}

.left{
    width: 25%;
}
.right{
    width: 75%;
}

#formCadastro input{
    margin-top: 5px;
}
.alert{
    display:none;
}